/* Reset default margin and padding */
* {
	margin: 0;
	padding: 0;
}

/* Style the header */
header {
	background-color: #0072C6;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

header h1 {
	font-size: 36px;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: white;
	text-decoration: none;
}

/* Style the banner section */
#banner {
	background-image: url('banner.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 500px;
	padding: 50px;
	text-align: center;
}

#banner h2 {
	font-size: 48px;
	margin-bottom: 20px;
}

#banner p {
	font-size: 24px;
	margin-bottom: 20px;
}

.button {
	background-color: rgb(24, 116, 236)
}